b.code-workspace
*.tmp
*.log
# other
umi1/
o/
a.code-workspace
.idea
/a.go
#godemo/?.go
*.out
go.mod
tmp
pri
Gemfile.lock
.vscode
jek.exvim
.exvim.jek/
.DS_Store
__pycache__
.netrwhist

# node
package-lock.json
node_modules

# em

# blog
no-commit
a.py

#conf
go.sum

# demo ignore
react-demos
my-app
my2-app
redux
node_modules/
# ignore
old-demo/
www2/
ahui.code-workspace
